@media (max-width: 992px) {
  /* layout */
  .container {
    display: block;
  }

  .flex {
    flex-direction: column;
    gap: 0.5rem;
  }

  /* scopes */
  .card-scopes .flex {
    align-items: flex-start;
    gap: 1.5rem;
  }
  .scopes-body .head {
    padding-bottom: 0.5rem;
  }
  /* team */
  .member .text {
    width: 100%;
    padding-left: 2rem;
  }

  .member {
    padding-bottom: 2rem;
  }
  .member:last-child {
    padding-bottom: 0;
  }

  /* timeline */
  .timeline-body .flex {
    align-items: flex-start;
  }

  .timeline-body .text {
    width: 100%;
  }
}
